spain-common/spain-inglobaly/spain-inglobaly-backend/src/main/resources/wsdl/inglobaly/AccesoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://soap.ws.info.global.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.info.global.com/" name="Acceso">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.info.global.com/" schemaLocation="https://ws.inglobaly.com:443/AccesoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="revocarToken">
<part name="parameters" element="tns:revocarToken"/>
</message>
<message name="revocarTokenResponse">
<part name="parameters" element="tns:revocarTokenResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="generarToken">
<part name="parameters" element="tns:generarToken"/>
</message>
<message name="generarTokenResponse">
<part name="parameters" element="tns:generarTokenResponse"/>
</message>
<message name="aplicacion">
<part name="parameters" element="tns:aplicacion"/>
</message>
<message name="aplicacionResponse">
<part name="parameters" element="tns:aplicacionResponse"/>
</message>
<portType name="AccesoWebService">
<operation name="revocarToken">
<input wsam:Action="http://soap.ws.info.global.com/AccesoWebService/revocarTokenRequest" message="tns:revocarToken"/>
<output wsam:Action="http://soap.ws.info.global.com/AccesoWebService/revocarTokenResponse" message="tns:revocarTokenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/AccesoWebService/revocarToken/Fault/Exception"/>
</operation>
<operation name="generarToken">
<input wsam:Action="http://soap.ws.info.global.com/AccesoWebService/generarTokenRequest" message="tns:generarToken"/>
<output wsam:Action="http://soap.ws.info.global.com/AccesoWebService/generarTokenResponse" message="tns:generarTokenResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/AccesoWebService/generarToken/Fault/Exception"/>
</operation>
<operation name="aplicacion">
<input wsam:Action="http://soap.ws.info.global.com/AccesoWebService/aplicacionRequest" message="tns:aplicacion"/>
<output wsam:Action="http://soap.ws.info.global.com/AccesoWebService/aplicacionResponse" message="tns:aplicacionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/AccesoWebService/aplicacion/Fault/Exception"/>
</operation>
</portType>
<binding name="AccesoWebServicePortBinding" type="tns:AccesoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="revocarToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="generarToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="aplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Acceso">
<port name="AccesoWebServicePort" binding="tns:AccesoWebServicePortBinding">
<soap:address location="https://ws.inglobaly.com:443/AccesoWebService"/>
</port>
</service>
</definitions>
