spain-common/spain-inglobaly/spain-inglobaly-backend/src/main/resources/wsdl/inglobaly/DomiciliosWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://soap.ws.info.global.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.info.global.com/" name="Domicilios">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.info.global.com/" schemaLocation="https://ws.inglobaly.com:443/DomiciliosWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerDomicilio">
<part name="parameters" element="tns:obtenerDomicilio"/>
</message>
<message name="obtenerDomicilioResponse">
<part name="parameters" element="tns:obtenerDomicilioResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="obtenerDomicilioFuzzy">
<part name="parameters" element="tns:obtenerDomicilioFuzzy"/>
</message>
<message name="obtenerDomicilioFuzzyResponse">
<part name="parameters" element="tns:obtenerDomicilioFuzzyResponse"/>
</message>
<message name="obtenerDomicilioNIF">
<part name="parameters" element="tns:obtenerDomicilioNIF"/>
</message>
<message name="obtenerDomicilioNIFResponse">
<part name="parameters" element="tns:obtenerDomicilioNIFResponse"/>
</message>
<message name="obtenerDomicilioAvanzada">
<part name="parameters" element="tns:obtenerDomicilioAvanzada"/>
</message>
<message name="obtenerDomicilioAvanzadaResponse">
<part name="parameters" element="tns:obtenerDomicilioAvanzadaResponse"/>
</message>
<message name="obtenerDomicilioExacta">
<part name="parameters" element="tns:obtenerDomicilioExacta"/>
</message>
<message name="obtenerDomicilioExactaResponse">
<part name="parameters" element="tns:obtenerDomicilioExactaResponse"/>
</message>
<message name="verEstadisticasPorCodigoPostal">
<part name="parameters" element="tns:verEstadisticasPorCodigoPostal"/>
</message>
<message name="verEstadisticasPorCodigoPostalResponse">
<part name="parameters" element="tns:verEstadisticasPorCodigoPostalResponse"/>
</message>
<portType name="DomiciliosWebService">
<operation name="obtenerDomicilio">
<input wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioRequest" message="tns:obtenerDomicilio"/>
<output wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioResponse" message="tns:obtenerDomicilioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilio/Fault/Exception"/>
</operation>
<operation name="obtenerDomicilioFuzzy">
<input wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioFuzzyRequest" message="tns:obtenerDomicilioFuzzy"/>
<output wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioFuzzyResponse" message="tns:obtenerDomicilioFuzzyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioFuzzy/Fault/Exception"/>
</operation>
<operation name="obtenerDomicilioNIF">
<input wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioNIFRequest" message="tns:obtenerDomicilioNIF"/>
<output wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioNIFResponse" message="tns:obtenerDomicilioNIFResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioNIF/Fault/Exception"/>
</operation>
<operation name="obtenerDomicilioAvanzada">
<input wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioAvanzadaRequest" message="tns:obtenerDomicilioAvanzada"/>
<output wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioAvanzadaResponse" message="tns:obtenerDomicilioAvanzadaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioAvanzada/Fault/Exception"/>
</operation>
<operation name="obtenerDomicilioExacta">
<input wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioExactaRequest" message="tns:obtenerDomicilioExacta"/>
<output wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioExactaResponse" message="tns:obtenerDomicilioExactaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/obtenerDomicilioExacta/Fault/Exception"/>
</operation>
<operation name="verEstadisticasPorCodigoPostal">
<input wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/verEstadisticasPorCodigoPostalRequest" message="tns:verEstadisticasPorCodigoPostal"/>
<output wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/verEstadisticasPorCodigoPostalResponse" message="tns:verEstadisticasPorCodigoPostalResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.info.global.com/DomiciliosWebService/verEstadisticasPorCodigoPostal/Fault/Exception"/>
</operation>
</portType>
<binding name="DomiciliosWebServicePortBinding" type="tns:DomiciliosWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerDomicilio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDomicilioFuzzy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDomicilioNIF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDomicilioAvanzada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDomicilioExacta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="verEstadisticasPorCodigoPostal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Domicilios">
<port name="DomiciliosWebServicePort" binding="tns:DomiciliosWebServicePortBinding">
<soap:address location="https://ws.inglobaly.com:443/DomiciliosWebService"/>
</port>
</service>
</definitions>
