spain-common/spain-experian/spain-experian-backend/src/main/resources/wsdl/experian/concursales/concursales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServicioInformes" targetNamespace="http://experian.servicios.Concursales" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://experian.servicios.Concursales"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://experian.servicios.Concursales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://experian.servicios.Concursales.V1"/>
            <xs:element name="GenerarInforme">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="Peticion" type="tns:PeticionInforme"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="PeticionInforme">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioServicio" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ClaveServicio" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="TipoInforme" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfTParametro"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfTParametro">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="TParametro" nillable="true" type="tns:TParametro"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TParametro">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Valor" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GenerarInformeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="GenerarInformeResult" type="tns:Informe"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Informe">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ErrorServicio"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="q1:InformeDetalle" xmlns:q1="http://experian.servicios.Concursales.V1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorServicio">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://experian.servicios.Concursales.V1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://experian.servicios.Concursales.V1">
            <xs:element name="InformeDetalle" type="tns:InformeDetalle"/>
            <xs:complexType name="InformeDetalle">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="IdSuscriptor" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ReferenciaConsulta" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:TError"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Fecha" type="tns:TFecha"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="MaximoRgistrosPagina" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="NumeroRegistrosDevueltos" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="ExistenMas" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Registros" type="tns:ArrayOfTBloqueDetalleConcursales"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TError">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TFecha">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="DD" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="MM" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="AAAA" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfTBloqueDetalleConcursales">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="TBloqueDetalleConcursales" nillable="true" type="tns:TBloqueDetalleConcursales"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TBloqueDetalleConcursales">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="IdIncidencia" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="DocumentoDemandado" type="tns:TDocumento"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="NombreDemandado" type="tns:TNombre"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="DireccionDemandado" type="tns:TDireccion"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="ImporteDemandado" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="DescripcionIncidencia" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Incidencia" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Fecha" type="tns:TFecha"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="NombreDemandante" type="tns:TNombre"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Juzgado" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="FechaSubasta" type="tns:TFecha"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="CaracterConcurso" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Activo" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Pasivo" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Fuente" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="FechaFuente" type="tns:TFecha"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="FechaActualizacion" type="tns:TFecha"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Moneda" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="DocumentoDemandante" type="tns:TDocumento"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Auto" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="SituacionEspecial" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="DocumentoPublicado" type="tns:TDocumento"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="SituacionConcursal" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="TipoProcedimiento" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="SuspensionFacultadesDeudor" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="HayMedidasCautelares" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="DisolucionSociedadGanancialesDeudor" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="FechaInicioConcurso" type="tns:TFecha"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="IndicadorImporteDemandado" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TDocumento">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="PaisDocumento" type="tns:TTipoCodigo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TTipoCodigo">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TNombre">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Nombre1" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Nombre2" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ApellidosRazonSocial" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TDireccion">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Direccion" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="NombreLocalidad" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="CodigoLocalidad" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Provincia" type="tns:TTipoCodigo"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ServicioInformes_GenerarInforme_InputMessage">
        <wsdl:part name="parameters" element="tns:GenerarInforme"/>
    </wsdl:message>
    <wsdl:message name="ServicioInformes_GenerarInforme_OutputMessage">
        <wsdl:part name="parameters" element="tns:GenerarInformeResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicioInformes">
        <wsdl:operation name="GenerarInforme">
            <wsdl:input wsaw:Action="http://experian.servicios.Concursales/ServicioInformes/GenerarInforme" message="tns:ServicioInformes_GenerarInforme_InputMessage"/>
            <wsdl:output wsaw:Action="http://experian.servicios.Concursales/ServicioInformes/GenerarInformeResponse" message="tns:ServicioInformes_GenerarInforme_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_ServicioInformes" type="tns:ServicioInformes">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GenerarInforme">
            <soap:operation soapAction="http://experian.servicios.Concursales/ServicioInformes/GenerarInforme" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicioInformes">
        <wsdl:port name="BasicHttpBinding_ServicioInformes" binding="tns:BasicHttpBinding_ServicioInformes">
            <soap:address location="http://10.161.91.69:8301/ConcursalesWebServiceUAT/ServicioInformes.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
